




<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="shortcut icon" type="image/jpg" href="https://www.pngkey.com/png/full/350-3502959_air-tech-icon-circle.png" style="background:transparent">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
    <title>Tech Journal</title>
  </head>

<body style="font-family: 'Montserrat', sans-serif; background-color:#eeeeee;">
    <% include partials/header %>
    
        <form  action="/compose" method="post">
      
            <h1 class="text-center py-4">New Post</h1>
        
        
                
<div class="lg-col-4 sm-col-8 container">
  <label for="title" class="leading-7 text-sm text-gray-600 py-2">Title</label>
                <input  style="background-color: #eeeeee;" maxlength="100"  required autocomplete="off" type="text" id="name" name="postTitle" class="form-control lg-col-4 sm-col-8">
              
            
                <label for="content" class="leading-7 text-sm text-gray-600 py-2">Content</label>
                <textarea style="background-color: #eeeeee;" required autocomplete="off" id="message" name="postBody" class="form-control lg-col-4 sm-col-8"></textarea>
          
                <label for="url " class="leading-7 text-sm text-gray-600 py-2">Image URL</label>

                <input style="background-color: #eeeeee"; required autocomplete="off"  type="text" id="name" name="postImage" class="form-control lg-col-4 sm-col-8">
                <div class="py-4 col-2  d-flex justify-content-center container-fluid">
                <button type="submit" class="btn btn-primary py-10">Post</button>  
              </div>
</div>

<% var postDate = Date(); %>
<% console.log(postDate);  %>

     
</form>
    
<% include partials/footer %>
  </body>
 
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</html>



  <SCRIPT>
  function passwordCheck(){
    var password = prompt("Please enter password to continue.");
    if (password==="hello"){
    } else{
        while(password !=="hello"){
            password = prompt("Please enter the password.");
        }
    }
  }
  window.onload=passwordCheck;
  </SCRIPT>
