
<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">



<% include partials/header %>


<body class="bg-gray-200">



<div class="container mx-auto mt-20 grid grid-cols-1 gap-8 md:grid-cols-2 xl:grid-cols-3">
<% posts.forEach(function(post){ %>
    <div class="rounded-lg overflow-hidden">
      <div class="relative overflow-hidden pb-60">
        <img
          class="absolute h-full w-full object-cover object-center"
          src=<%= post.image %>
          alt=""
        />
      </div>
      <div class="relative bg-blue-200">
        <div class="py-10 px-8">
          <h4 class=" font-bold"><%= post.title.substring(0,40) %></h4>
          <!-- <div class="text-gray-600 text-sm font-medium flex mb-4 mt-2">
            <p>Provided by&nbsp;</p>
            <a
              href="https://www.ls.graphics/"
              class="hover:text-black transition duration-300 ease-in-out"
              >LS Graphics</a
            >
          </div> -->
          <p class="leading-7">
          <%=post.content.substring(0,199) + "..." %>
          </p>
          <div class="mt-10 flex justify-between items-center">
            <!-- <div>
              <img
                src="https://collect.criggzdesign.com/wp-content/uploads/2020/07/Ps.svg"
                alt=""
                class="w-6"
              />
            </div> -->
            <a
              href="/posts/<%=post._id%>"
              class="flex items-center"
            >
              <p class="mr-4 ">Read more</p>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="14.125"
                height="13.358"
                viewBox="0 0 14.125 13.358"
              >
                <g transform="translate(-3 -3.293)">
                  <path
                    id="Path_7"
                    data-name="Path 7"
                    d="M14.189,10.739H3V9.2H14.189L9.361,4.378l1.085-1.085,6.679,6.679-6.679,6.679L9.361,15.566Z"
                    fill="#1d1d1d"
                    fill-rule="evenodd"
                  ></path>
                </g>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
    <% }); %>

  </div>
  <% include partials/footer %>
</body>
